/*General styles*/
#container {
    background:;
    font-family: sans-serif; 
    margin-bottom:50px;
    margin-top: 50px;
}

html, #container_1 {
    background:;
    font-family: sans-serif; 
    margin-bottom:50px;
}

/*Authentication styles*/
#login_Container, #signUp_Container {
    height: 50%;
    width: 50%;
    background-color: lightblue;
    padding: 80px;
    border-radius: 50px;
}
/*
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
*/
#login_form  {
    text-align: center;
}

#txtaNDesc{
	height: 50px;
}

#form_login_group, .form-group {
    margin-bottom: 20px;    
}

#form_login_group input , #signUp_form input, #log_In, #register, #sign_Up {
    height: 50px;
}

#form_login_group input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 90%;    
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 0px solid transparent;
}

#signUp_form input {     
    border: 0px;
    text-align: center;
    background-color: #ECF0F1;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 20px 0;    
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 0px solid transparent;
}

#form_login_group input:focus , #signUp_form input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1); 
    padding: 3px 0px 3px 3px; 
    margin: 5px 1px 3px 0px; 
    border: 2px solid rgba(81, 203, 238, 1);
}

#log_In {    
    background: #9FBFF4;
}

#register {
background: #45D158;
}

#log_In, #register {
    border: 0px solid transparent;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 0;
    border-radius: 3px;
    transition: 0.25s;
    display: block;
    width: 90%;
    margin: 0 auto;
    text-decoration: none;  
}

#sign_Up {
    border: 0px solid transparent;
    background: #45D158;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 3px;
    transition: 0.25s;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    margin-top: 20px;
}

#log_In:hover, #register:hover, #sign_Up:hover {
    background-color: #2980B9;
}


/*Dashboard styles*/

/*Transaction details styles*/
#dash_container {
    position: center;
}

#container_trans {
	margin-left:auto; 
	margin-right:auto;
	width:80%;
}
#title {
	color: #036;
	font-size : 25px;
}

#date {
	background:#dddddd;
}

#type {
	background:#dddddd;
}

#value {
	background:#dddddd;
}

td.table_Lbl
{
	width: 250px;
	text-align:right;
}

input.table_TransNo
{
	width: 50px;
}

input.table_TransDetails
{
	width: 250px;
}

input.table_TransCurrency
{
	width: 213px;
}

textarea.table_TransDesc
{
	width: 250px;
}
select.table_TransDrop
{
	width:250px;
}
input.currency {
    text-align: right;
    padding-right: 15px;
	display:table-cell;
}

.input-group .form-control {
    float: none;
}

.input-group-addon-1 {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h1.logoStyle
{
	font: mono; font-family: 'Monotype Corsiva'; font-size: 50px;
}

section.headerStyle
{
	display:table-cell;
}

aside.asideStyle
{
	display:table-cell; 
	float:right;
}