/*General styles*/
html, #container {
    background:;
    font-family: sans-serif; 
    margin-bottom:50px;
    margin-top: 50px;
}

/*Authentication styles*/
#login_Container, #signUp_Container {
    height: 50%;
    width: 50%;
    background-color: lightblue;
    padding: 80px;
    border-radius: 50px;
}
/*
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
*/
#login_form  {
    text-align: center;
}

#form_login_group, .form-group {
    margin-bottom: 20px;    
}

#form_login_group input , #signUp_form input, #log_In, #register, #sign_Up {
    height: 50px;
}

#form_login_group input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 90%;    
    transition: border .5s; 
}

#signUp_form input {     
    border: 0px solid transparent;
    text-align: center;
    background-color: #ECF0F1;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 20px 0;    
    transition: border .5s;    
}

#log_In {    
    background: #9FBFF4;
}

#register {
background: #45D158;
}

#log_In, #register {
    border: 0px solid transparent;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 0;
    border-radius: 3px;
    transition: 0.25s;
    display: block;
    width: 90%;
    margin: 0 auto;
    text-decoration: none;  
}



#sign_Up {
    border: 0px solid transparent;
    background: #45D158;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 3px;
    transition: 0.25s;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    margin-top: 20px;
}

#log_In:hover, #register:hover, #sign_Up:hover {
    background-color: #2980B9;
}


/*Dashboard styles*/

/*Transaction details styles*/
#dash_container {
    position: center;
}

#container_trans {
	margin-left:auto; 
	margin-right:auto;
	width:80%;
}
#title {
	color: #036;
	font-size : 25px;
}

#date {
	background:#dddddd;
}

#type {
	background:#dddddd;
}

#value {
	background:#dddddd;
}

#table_Lbl
{
	width: 250px;
	text-align:right;
}

>>>>>>> origin/develop
>>>>>>> 1fe6537d1a96231e8a0f5cf0ae4e125fcedb2cd1
