/*General styles*/
html, #container
{
background:;
font-family: sans-serif; 
margin-bottom:50px;
margin-top: 50px;
}

/*Authentication styles*/
#login_Container, #signUp_Container {
height: 50%;
width: 50%;
background-color: lightblue;
padding: 80px;
border-radius: 50px
}

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
#login_form {
text-align: center;
}

#form_login_group {
margin-bottom: 20px;
}

#form_login_group input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 90%;
transition: border .5s;
}

.form-group input { 
margin-bottom: 20px;
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;     
width: 90%; 
transition: border .5s;
}

#log_In, #register {
  border: 2px solid transparent;
  background: #9FBFF4;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 3px;
  transition: 0.25s;
  display: block;
  width: 90%;
  margin: 0 auto;
  text-decoration: none;  
}

#register {
    background: #45D158;
}

#log_In:hover, #register:hover, #sign_Up:hover {
  background-color: #2980B9;
}

#sign_Up {
  border: 2px solid transparent;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 3px;
  transition: 0.25s;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  background: #45D158; 
}
/*Dashboard styles*/

/*Transaction details styles*/
#dash_container
{
    position: center;
}

#left
{
	background:#FFF;
	width:10%;
	height:200px;
	float:left;
}
#title
{
	color: #036;
	font-size : 25px;
}

#date
{
	background:#dddddd;
}

#type
{
	background:#dddddd;
}

#value
{
	background:#dddddd;
}

#table_Lbl
{
	width: 150px;
	text-align:right;
}

>>>>>>> origin/develop
>>>>>>> 1fe6537d1a96231e8a0f5cf0ae4e125fcedb2cd1
